/* 
LIGHT RESET 
*/

* {
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    scroll-behavior: smooth;
}

/* 
TYPOGRAPHY 
*/

body {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::selection {
    background: #fed136;
    text-shadow: none;
}

h2 {
    font-size: 42px;
}


/* 
NAVBAR
*/

nav {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

/* CLASS FOR NAVBAR AT START POSITION */
.nav-start {
    height: 80px;
}

/* CLASS FOR NAVBAR WHEN SCROLLING */
.nav-alt {
    height: 45px;
    background-color: #212529;
}


/* LOGO STANDARD PROPERTIES */

.nav-logo {
    font-family: 'Kaushan Script';
    margin-left: 10%;
}

.nav-logo a {
    text-decoration: none; 
    color: #fed136;
}

.nav-logo a:hover {
    color: #fec503;
}

/* LOGO WHEN NAVBAR AT START POSITION */
.nav-start .nav-logo a {
    font-size: 28px;
}

/* LOGO WHEN NAVBAR IS SCROLLING */
.nav-alt .nav-logo a {
    font-size: 20px;
}

/* RESUME NORMAL FLOW */

.navbar {
    display: flex;
    flex-flow: row nowrap;
    width: 40vw;
    margin-right: 10%;
    justify-content: space-evenly;
    list-style: none;
}

.nav-link a {
    color: white;
    font-size: 14.4px;
    text-decoration: none; 
    text-transform: uppercase;
}

.nav-link a:hover {
    color: #fed136;
}

/* 
HEADER
*/

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 800px;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    /* TODO add /agency-landing/ in front of pictures in local folder */
    url("/images/hero.jpg");
    background-size: cover;
    background-position: center;
}

.hero-content {
    color: white;
    padding: 170px 0;
    width: 900px;
}

.hero-content h3 {
    font-family: 'Droid Serif';
    font-style: italic;
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 25px;
}

.hero-content h1 {
    font-family: Montserrat;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.hero-content button {
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px;
    /* TODO: Style button (here or general?) */
}

/* 
SERVICES
*/

.services {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 700px;
    padding: 5%;
    justify-content: center;
    text-align: center;
    border: 2px solid red;
}

.sect-intro h2 {
    font-size: 
    margin-bottom: 20px;

    border: 2px solid blue;
}

.sect-intro h2 {
    border: 2px solid blue;
}

.services-row {
    border: 2px solid green;
}

.service-box {
    border: 2px solid purple;
}






















/* 950px menu burger */